* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',
    sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: #161619;
}

.logo {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

header {
    position: fixed;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fbfdff;
    transition: all 0.15s;
    z-index: 4;
}



.right_menu {
    width: 27%;
    border-left: 1px solid #d5dddf;
    padding: 10px;
}

.selection_of_the_parameters {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #fbfdff;
    padding: 20px;
    overflow-x: scroll;
}

.product {
    cursor: pointer;
    width: 217px;
    margin: 30px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 45px;
}

.img {
    margin-top: 20px;
    width: 100%;
}

.name {
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: .85rem;
    font-weight: 400;
}

.price {
    font-size: 0.75rem;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.price_range {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.price_range_inp {
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 1px;
    background-color: #ffffff;
}

.price_range_p {
    margin-left: 10px;
}

.price_range_button {
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 1px;
    cursor: pointer;
}

.search_inp {
    width: 460px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 6px;
    border: 0;
    box-shadow: inset 0 0 1px;
    background-color: #ffffff;
    font-size: 12px;
}

.search_button {
    height: 36px;
    width: 100px;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    border-radius: 6px;
    border: 0;
    box-shadow: inset 0 0 1px;
    cursor: pointer;
    font-size: 16px;
}

.search {
    margin-left: 20px;
}

.not {
    visibility: hidden;
    opacity: 0;
}

.yes {
    visibility: visible;
    opacity: 1;
}

.links {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.more {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.center {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.back_title {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    z-index: 2;
}
.back_title__div{
    text-align: center;
}

.back {
    background-image: url('https://cdn.demiyanov.art/wp-content/uploads/2019/10/14531808002_ce2a6948e5_o-1.jpg');
    /* filter: brightness(85%); */
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title {
    color: #ffffff;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 2.5rem;
}

.title_more {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 20px;
}
.header__links{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.search {
    width: 17px;
    height: 17px;
}

.profile {
    width: 15px;
    height: 15px;
}

.vertical__menu {
    /* background-color: red; */
    background-color: #fbfdff;
    top: 80px;
    left: 0px;
    position: absolute;
    flex-wrap: wrap;
    padding-bottom: 20px;
    opacity: 0;
    transition: transform 0.3s,
    opacity 0.3s;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    visibility: hidden;
}
.Landscapes{
    position: relative;
    height: 100%; 
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-self: center;
}

.vertical__menu__item {
    width: 100%;
    color: #000;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    padding-top: 5px;
    white-space: nowrap;
}

.cur {
    margin-top: 65px;
    height: 100%;
}

.Landscapes0:hover .vertical__menu0 {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);

}

.Landscapes1:hover .vertical__menu1 {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);

}

/* filter: brightness(40%) */
.img_back{
    width: 263px;
    height: 197px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100%;
    transition: background-size 250ms linear;
    
}
.img_back:hover{
    background-size: 110%;
}
.link__header {
    /* background: red; */
    position: relative;
}
.link__header::before {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #000;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    transition: width .200s linear;
}
.link__header:hover:before {
    width: 100%;
}


.get_peoduct__img{
    width: 585px;
    border-radius: 2px;
}
.product_content {
    margin-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#left {
    width: 600px;
}
#right {
    width: calc(100% - 600px);
}
#title {
    margin-top: 0px;
    font-size: 1.8rem;
    font-weight: 400;
}
#desc{
    font-size: 0.75rem;
    margin-top: 10px;
}
#price {
    margin-top: 40px;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.55556;
    word-wrap: break-word;
}
.red {
    color: red;
    border-color: red;
}
.red::before {
    content: '';
    width: 0%;
    height: 1px;
    background-color: red;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    transition: width .200s linear;
}
.pre_header {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #000;
    z-index: 5 !important;
    gap: 40px;
    font-size: .875rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.pre_header__link{
    font-size: 0.68rem;
    text-transform: uppercase;
    line-height: 40px;
    color: #dfdfdf !important;
}